{% extends 'layout.html' %}
{% block title %} Data Stok {% endblock %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% load templatetags %}
{% block content %}

{#              <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                <div class="x_panel">#}
{#                   <div class="x_title">#}
{#                    <h2>KeyTable example <small>Users</small></h2>#}
{#                    <div class="clearfix"></div>#}
{#                  </div>#}
{#                  <div class="x_content">#}
{##}

{##}
{#                  </div>#}
{#                </div>#}
{#              </div>#}

          <div class="">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Data Stok  <small>Depo</small></h2>
{#                    <ul class="nav navbar-right panel_toolbox">#}
{#                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>#}
{#                      </li>#}
{##}
{#                      <li><a class="close-link"><i class="fa fa-close"></i></a>#}
{#                      </li>#}
{#                    </ul>#}
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                        <table class="table table-striped table-bordered tabledata">
      <thead>
        <th>No</th>
        <th>Tanggal</th>
        <th>Ukuran</th>
        <th>KITA</th>
        <th>PICASSO</th>
        <th>HARMONY</th>
        <th>ATENA</th>
        <th>Action</th>
      </thead>
    <tbody>
        {% for item in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.tanggal }}</td>
                <td>{{ item.size }}</td>
                <td align="right">{{ item.kita | intcomma }}</td>
                <td>{{ item.picasso }}</td>
                <td align="right">{{ item.harmony | intcomma }}</td>
                <td>{{ item.atena }}</td>
                <td><a href = "{% url "editStok" item.id|encode_id %}" ><span class="fa fa-edit"></span> EDIT</a> </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

                  </div>
                </div>
              </div>






              </div>




              </div>
            </div>
          </div>


{% endblock %}